header.header
    a(href="/").header__title.off-a
        i(class="bi bi-film logo")
        h3.m-0 MovieApp
    .navigation
        a(href="#").btn-menuitem.search Search
            i(class="bi bi-search").icon
        //- a(href="#").btn-menuitem.login Login
        //- a(href="#").btn-menuitem.signup SignUp
        a(href="#").btn-menuitem.avatar 
            img(src="/img/casts/cast-adam_scott.jpg", alt="avatar")
            span Peter
        a(href="#").btn-menuitem.logout Log Out
