extends base

mixin movieListBlock(title)
    .movie__container
        h4.m-0.movie__container-title= title
        .movie__container-movies

            .movie__card
                a(href="#").movie__image.pos_abs.off-a
                    a(href="#")
                        i(class="bi bi-bookmark-fill").poster__save.saved
                    div.poster-cover
                    img(src="/img/movies/covers/cover-gomorra_la_serie.jpg").poster
                    p.m-0.mt-2.movie__card-title Name of The Movie
                .movie__content
                    .movie__info.d-flex
                        span 2019
                        ul.m-0.gen
                            li Krimi |
                            li Drama |
                            li Horror
                    .movie__info
                        p.m-0 Movie
                        .ratings 
                            span 7.8/10
                            i(class="bi bi-star-fill gold").icon

            .movie__card
                a(href="#").movie__image.off-a
                    i(class="bi bi-bookmark").poster__save.unsaved
                    div.poster-cover
                    img(src="/img/movies/covers/cover-gomorra_la_serie.jpg").poster
                    p.m-0.mt-2.movie__card-title Name of The Movie
                .movie__content
                    .movie__info.d-flex
                        span 2019
                        ul.m-0.gen
                            li Krimi |
                            li Drama |
                            li Horror
                    .movie__info
                        p.m-0 Movie
                        .ratings 
                            span 7.8/10
                            i(class="bi bi-star-fill gold").icon




        

block content
    main.main

        +movieListBlock("Drámák")
        +movieListBlock("Akció filmek")

